[2021-08-03 12:10] Shephalimittal opened #2 "Update main to 7.x"
Since we will be supporting only 7.10 onwards, update main to 7.x

[2021-08-03 13:12] #2 closed, assigned to Shephalimittal

[2021-08-03 14:28] Shephalimittal opened #3 "Copy OpenSearch basic template files"
copy template files like RELEASING, LICENSE, MAINTAINER from .github project.

[2021-08-03 18:42] VijayanB opened #5 "Milestone 1 tasks"
In this milestone, we focus on setting up *main* branch that can work with existing 7.10.2 version of ODFE
- [x] Delete all older branches  < 7.10
- [x] Delete all released tags
- [x] Delete *main* branch(this branch potentially tracks of all 8.x features as well)
- [x] create *main* branch from 7.x branch
- [x] Remove product checker commit if present (this is required to make clients work with o

[2021-08-03 19:39] VijayanB opened #6 "Milestone 2 tasks"
In this milestone, we focus on cleaning up existing code and make it ready for OpenSearch development

- [x] Remove X-Pack and non oss features/tests
- [x] Remove docs
- [x] Remove commits not related to >7.10 from *main* branch
- [x] Update CI to run with  *OpenDistro* docker image without security plugin

[2021-08-04 13:38] #3 closed, assigned to Shephalimittal

[2021-08-04 13:47] rushiagr opened #8 "Milestone 3 tasks"
In this milestone, we focus on refactoring changes and make it work with OpenSearch 1.0.0 clusters

- [ ] Namespace changes and other refactoring on *main* branch to support OpenSearch
- [ ] CI is expected to pass for OpenSearch and OpenDistro with and with out security
- [ ] Repo should be made public

[2021-08-04 14:03] rushiagr opened #10 "Add documentation"
Add installation instructions, developer guide and usage

[2021-08-05 12:15] rushiagr opened #13 "Readme broken"
Hyperlinks etc are not being displayed correctly. Just need to change format from RST to markdown I think

[2021-08-06 06:41] rushiagr opened #15 "Remove 'platinum' word and code paths, and replace 'free' with 'oss'"

[2021-08-06 06:49] rushiagr opened #16 "Make two approvals mandatory before merging PRs"

[2021-08-06 06:50] #13 closed, assigned to nobody

[2021-08-06 06:56] #5 closed, assigned to nobody

[2021-08-10 13:23] rushiagr opened #23 "[BUG] Change all references of elasticsearch to opensearch"
**What is the bug?**
Change all references of elasticsearch to opensearch

[2021-08-11 05:33] #16 closed, assigned to nobody

[2021-08-13 07:04] #15 closed, assigned to nobody

[2021-08-13 07:05] #6 closed, assigned to nobody

[2021-08-16 14:35] rushiagr opened #26 "[BUG] Fix dependabot alerts"

[2021-08-17 07:04] rushiagr opened #27 "Remove meta header check"

[2021-08-17 08:39] rushiagr opened #29 "Remove Elastic cloud support"

[2021-08-17 12:20] rushiagr opened #31 "Remove generic issue template"
Not needed any more as we have specific issue templates.

[2021-08-17 12:40] #31 closed, assigned to nobody

[2021-08-17 12:46] #26 closed, assigned to nobody

[2021-08-17 13:06] rushiagr opened #33 "[BUG] Remove all instances of Elasticsearch versioning"
**What is the bug?**
E.g. version number 7.10.2, and use 1.0.0 instead

[2021-08-18 13:27] rushiagr opened #37 "Accept either ELASTICSEARCH_URL or OPENSEARCH_URL"
To support backward compatibility, if addresses are not specified in config during new client api, we will look for addresses either from ELASTICSEARCH_URL or OPENSEARCH_URL environment variable. if we find both, then will exit with error message that both can't be set .

[2021-08-19 03:12] #27 closed, assigned to nobody

[2021-08-19 03:29] rushiagr opened #39 "[BUG] Better client name in tests"
**What is the bug?**
Client variable name is `es` in tests at many places. We should change it to `osclient`

**How can one reproduce the bug?**
N/A

**What is the expected behavior?**
N/A

**What is your host/environment?**
N/A

**Do you have any screenshots?**
N/A

**Do you have any additional context?**
N/A

[2021-08-19 04:16] rushiagr opened #40 "[FEATURE] Use badges in README"

[2021-08-19 11:10] rushiagr opened #46 "Handle application/vnd.elasticsearch+json;compatible-with=7"
Handle application/vnd.elasticserach+json;compatible-with=7 in backward compatible way

[2021-08-20 09:11] rushiagr commented on #39
Fixed as a part of https://github.com/opensearch-project/opensearch-py/pull/44

[2021-08-20 09:11] #39 closed

[2021-08-20 09:11] #33 closed

[2021-08-20 09:14] rushiagr commented on #23
Fixed as a part of https://github.com/opensearch-project/opensearch-py/pull/34

[2021-08-20 09:14] #23 closed

[2021-08-20 09:21] rushiagr commented on #37
Python client doesn't support specifying environment variable to override address at client creation time, so this issue is not applicable to Python client.

[2021-08-20 09:21] #37 closed

[2021-08-20 12:59] rushiagr opened #50 "High level client coming soon"
Python high-level client support is in the works, and should be out soon. Keeping this ticket open to track it.

[2021-08-23 17:52] rushiagr commented on #46
See discussion at https://github.com/opensearch-project/opensearch-go/issues/53

[2021-08-23 17:53] #40 closed

[2021-08-23 17:57] rushiagr opened #52 "[BUG] Integ test does a deep checkout of opensearch repository"
**What is the bug?**
[Here](https://github.com/opensearch-project/opensearch-py/blob/340069f6fa344ab3853fec8c48e60e6a7756f271/test_opensearch/run_tests.py#L49), we're doing a deep checkout of OpenSearch (the server) repository. This works reasonably fast on Github Actions, but slows down the run time considerably when doing it on a developer laptop. We should ideally do a shallow checkout i.e. `gi

[2021-08-24 22:03] vchrombie commented on #52
Hi @rushiagr, I opened a PR related to this issue. It would be great if we can discuss a few things before finalizing the work in the PR.

The shallow clone reduces a lot of time. If we specify a branch, it can be even faster. Here is a small analysis
[code]
Please let me know what do you prefer. I will update the PR accordingly.

[2021-08-25 03:18] rushiagr commented on #52
Hi @vchrombie , first of all thanks for your interest and contribution to the Python client! We anyway need just one branch, so `--single-branch` would work too, and since it's faster, I would say let's go with it :)

[2021-08-25 04:27] vchrombie commented on #52
Awesome. Thanks for the comment @rushiagr.
The PR already has it, but I think we need to discuss about this https://github.com/opensearch-project/opensearch-py/pull/53#issuecomment-905013442.

[2021-08-25 11:16] rushiagr commented on #52
Added my thoughts on the PR. Let's discuss on the PR further.

[2021-08-25 16:52] rushiagr opened #54 "[PROPOSAL] Publish artifacts"
## What kind of business use case are you trying to solve? What are your requirements?
Need to publish artifacts (as binaries, as well as to PyPI) so that it can be easily consumed by our users.

**What is the problem? What is preventing you from meeting the requirements?**
N/A

**What are you proposing? What do you suggest we do to solve the problem or improve the existing situation?**
See above

[2021-08-26 08:33] #8 closed, assigned to nobody

[2021-08-28 20:55] vchrombie commented on #54
We at [GrimoireLab](https://chaoss.github.io/grimoirelab/) use a [semi-automatic system](https://github.com/vchrombie/release-process-automation#workflow) for managing releases.

Whenever a tag is pushed, github action workflow is triggered which builds the package, tests it with different python versions, and publishes it on github, PyPI, etc. Here is the [release workflow file](https://github.co

[2021-08-30 22:15] peternied opened #60 "[BUG] When validating the distribution with Twine there are errors that need to be resolved"
**What is the bug?**
When validating the distribution with Twine there are errors that need to be resolved

**How can one reproduce the bug?**
Steps to reproduce the behavior:
1. Install twine `python3 -m pip install --upgrade twine`
2. Build the distribution and check it with twine `rm -rf dist && python3 -m build && python3 -m twine check dist/opensearch-1.0.0.tar.gz`
3. See error
[code]

**What

[2021-08-30 22:29] peternied commented on #60
Dug into this a little deep, the problem is that the setup.py hasn't been updated to markdown as the document type, I'll PR this tomorrow.

[2021-08-31 15:31] peternied opened #61 "[FEATURE] Add `twine check` in the CI process"
**Is your feature request related to a problem?**
Sometimes changes to the readme or setup.py can impact the ability to produce a distributable artifact

**What solution would you like?**
We should check if this happens before code is merged into main

[2021-08-31 15:31] peternied commented on #60
Created #61 to add pull request check for issues like this

[2021-09-02 22:14] #60 closed

[2021-09-08 10:33] #61 closed

[2021-09-12 05:57] yoav-orca opened #67 "[BUG] startup time regression traced to elasticsearch"
**What is the bug?**
I have recently upgraded to `elasticsearch-py` from `7.6.0` to opensearch 1.0 and I have noticed a regression in the startup time of our cli utilities. Apparently, since the introduction of https://github.com/elastic/elasticsearch-py/pull/1180 it will import and initialize pandas and numpy even if they are not used.

**How can one reproduce the bug?**
Steps to reproduce the be

[2021-09-15 17:08] mikeyjarvis19 commented on #54
Would find this extremely useful

[2021-09-15 18:49] abhinavGupta16 opened #68 "[BUG] Update the name of the package to be released"
**What is the bug?**
Update the name according to the discussions in ```setup.py``` and other places where necessary

**What is the expected behavior?**
When I release the repository on PyPi, package witht the desired new name should be published.

**Do you have any additional context?**
The current package name is taken and needs to be updated to a new name to publish on PyPi

[2021-09-15 18:50] abhinavGupta16 commented on #68
@vamshin - This needs to be closed so the MCM can be sent for approval.

[2021-09-15 23:24] VijayanB commented on #68
@abhinavGupta16 will send PR out soon. Thanks for bringing this up.

[2021-09-22 02:13] SamStephens opened #77 "[FEATURE] Migration guide from elasticsearch-py"
**Is your feature request related to a problem?**

I'm migrating from elasticsearch-py to opensearch-py, as I'm sure many customers will be. I'd like a step by step guide to make changing over easy for me, and to make the differences clear.

My specific issue is that I use a fairly standard pattern for providing AWS credentials to Opensearch, and it does not work now I've changed clients. Extracti

[2021-09-29 02:05] Jeffreyx38 commented on #50
Thanks. Is there a date for the release?

[2021-09-29 02:37] command-tab commented on #50
Like ElasticSearch and OpenSearch, will the high level opensearch-dsl-py client start out as a fork of elasticsearch-dsl-py? Trying to guesstimate how much time will be involved in adopting OpenSearch in an existing ES project. Thanks! 🙏🏻

[2021-09-29 07:24] vchrombie commented on #50
Yes, it would be a fork from the elasticsearch-dsl package.

https://discuss.opendistrocommunity.dev/t/opensearch-high-level-client-library-for-python-elasticsearch-dsl-equivalent/6877/2

I would leave this question to the maintainers.

[2021-09-30 14:49] stockholmux commented on #54
@rushiagr This is published (https://pypi.org/project/opensearch-py/). Can we close this?

[2021-09-30 14:51] stockholmux opened #78 "[BUG] Correct README to reflect published package"
**What is the bug?**
The README still has instructions for using git/http for installation.

**How can one reproduce the bug?**
In the README, the install instructions say to use:
`pip install git+https://github.com/opensearch-project/opensearch-py.git` but you can do `pip install opensearch-py`

**What is the expected behavior?**
The readme would be updated to reflect the best practice of using p

[2021-09-30 14:54] vchrombie commented on #78
I think this issue is addressed in https://github.com/opensearch-project/opensearch-py/pull/76

[2021-09-30 14:55] stockholmux commented on #78
thanks @vchrombie - I missed that!

[2021-09-30 14:57] vchrombie commented on #78
Let's leave this issue open, we can close it after the PR #76 is merged.

[2021-09-30 16:34] #68 closed

[2021-09-30 16:35] #54 closed

[2021-09-30 16:39] VijayanB opened #79 "Update README with installation"
Update README with feedback from here: https://github.com/opensearch-project/opensearch-py/pull/76

[2021-09-30 16:42] #78 closed

[2021-09-30 17:20] peternied opened #80 "Ensure DCO Workflow Check"
Coming from https://github.com/opensearch-project/project-meta/issues/17

A Developer Certificate of Origin is required on commits in the OpenSearch-Project.

See [doc.yml](https://github.com/opensearch-project/.github/blob/main/workflow/dco.yml) for an example workflow.  Ensure CONTRIBUTING.md to has a section on the DCO per the [project template](https://github.com/opensearch-project/.github/blo

[2021-09-30 18:00] vchrombie commented on #80
Nice :+1:

Even the [CHAOSS Charter](https://github.com/chaoss/community/blob/master/project-charter.md) requires that contributions are accompanied by a [Developer Certificate of Origin](http://developercertificate.org/) sign-off. For ensuring it, a bot checks all incoming commits.

Just wanted to comment about the other options available. The [dco bot](https://github.com/apps/dco) can be configu

[2021-09-30 18:13] peternied commented on #80
Initial we tried to using that DCO bot and that request was denied due to its ability to access private repositories.  Instead we built our own check with Jenkins CI for only a handful of repositories, but we never offered and option to smaller repos.  This workflow makes it simple to get all our repos in.

[2021-09-30 18:15] vchrombie commented on #80
Okay, thanks for the reply. I think the github actions is the right tool for your usecase. :+1:

[2021-09-30 19:29] aetter commented on #77
Hi @SamStephens, a couple minor tweaks and I think you'll be good to go. The big thing is importing `RequestsHttpConnection` and adding `connection_class` during client creation:

[code]

When we've done a more "formal" release of the new clients, I'll check out the AWS documentation. Given that legacy Elasticsearch OSS remains an option on the service, there's utility in keeping sample code for t

[2021-10-01 13:28] dtaivpp commented on #10
Hey I just wanted to reach out and see if there were any more plans to create a docs folder similar to the one on the Elasticsearch python client? https://github.com/elastic/elasticsearch-py/tree/v7.15.0/docs

I know I used those types of docs several times when I was learning to use the Elasticsearch client. Would it be okay if I started adding that type of documentation here?

[2021-10-04 21:04] stockholmux opened #81 "[BUG] PyPI docs go to the wrong place"
**What is the bug?**
On PyPI, the documentation link goes to a 404 on readthedocs.io (https://opensearch-py.readthedocs.io/en/latest/)

**How can one reproduce the bug?**
Steps to reproduce the behavior:
1. Go to https://pypi.org/project/opensearch-py/
2. Click on "Documentation"
3. See the 404.

**What is the expected behavior?**
The documentation goes to OpenSearch docs (https://opensearch.org/d

[2021-10-18 01:53] Xuton opened #84 "[BUG] Bulk request not throwing error"
**What is the bug?**
When using the bulk request and an indexing error occurs, the error is not thrown. I have to assign the response and then manually check the response for errors.
When indexing documents using the single index method it does raise the error as expected

**How can one reproduce the bug?**
Steps to reproduce the behaviour:
Using an AWS hosted Elasticsearch V7.10 cluster
[code]

*

[2021-10-21 19:04] aetter opened #85 "[FEATURE] Add IAM authentication option"
If people want to connect to an Amazon OpenSearch Service cluster, they have to figure out how to use this client alongside some third-party signing library and/or the AWS SDK, which is non-trivial due to how we (by design) conceal the underlying HTTP requests that the client makes. We should offer IAM signing as an option, just like the OpenSearch CLI does.

**Is your feature request related to a

[2021-10-23 17:05] marl2en opened #86 "Bulk documentation"
opensearch_py works just fine. Thank you !!!
Trying to use it with suricata.
To index documents one by one as described in the short documentation works, but how to index like 100 documents per second?

A bulk function is implemented in opensearch_py, but couldn't figure out how to use it. client.bulk( some arguments) ?

[2021-10-26 06:28] linruoma opened #87 "api"
I know opensearch has an incomplete Python API.  One question is: Can we use the python API of elasticsearch on opensearch

[2021-11-02 09:46] Just4test opened #88 "[BUG] Raise error when calling indices.exists on a non-exist index"
**What is the bug?**
A clear and concise description of the bug.

**How can one reproduce the bug?**
Steps to reproduce the behavior:
When calling
[code]
Raise
[code]
**What is the expected behavior?**
Return False without error.

**What is your host/environment?**
macOS 11.5.2,
Python 3.9.6
opensearch-py-1.0.0

[2021-11-02 09:46] #88 closed

[2021-11-09 20:05] peternied commented on #80
@vchrombie Can we get the DCO check added on this repo?  This is literally the last one in the campaign

[2021-11-10 17:48] vchrombie commented on #80
Yes, I don't have any problem with it. Please proceed with whatever suits the requirement.
Thanks.

[2021-11-12 19:20] #80 closed

[2021-11-13 21:37] arnavdas88 opened #90 "[PROPOSAL] Plugins Python Client Interface"
## What kind of business use case are you trying to solve? What are your requirements?
Although the current state of `opensearch-py` can connect to opensearch database and do transactions seamlessly, To use plugins features like `Search Plugin` or `Monitoring Plugin`, one needs to follow the REST guideline from docs and need to make the requests and the workflow manually. I, right now have a perso

[2021-11-18 21:05] mccullocht opened #92 "[BUG] Non-200 responses are parsed as json even when the data isn't json."
**What is the bug?**

HTTP `Connection` implementations will take non-200 responses and parse the data as json to help produce more complete exceptions. They do this even if the response contains data of a different type (like text/plain), triggering log messages.

**How can one reproduce the bug?**

[code]

This condition can also be reproduced in tests for the connection classes that ship with t

[2021-11-25 22:48] Aarif1430 opened #94 "[BUG]"
**Describe the bug**
<html>
<body>

OSError: [Errno 38] Function not implemented. I started seeing this error after upgrading to python3.9.
--
<br class="Apple-interchange-newline">
</body>
</html>
<img width="398" alt="image" src="https://user-images.githubusercontent.com/19341315/143500330-4d4a8acc-9ef8-4cb3-bc6f-f170fddc82ed.png">

**To Reproduce**

Steps to reproduce the behavior:
1. Deploy an

[2021-11-29 21:15] SamStephens opened #95 "[BUG] Client uses POST for read operations, preventing read only permissions"
**What is the bug?**

The client uses [POST for read operations such as Search](https://github.com/opensearch-project/opensearch-py/blob/ef0c23c0e4fb089e147d868a9ebb1e0feae2b770/opensearchpy/client/__init__.py#L1593-L1599). This is problematic when it comes to managing permissions, especially in AWS where the HTTP verbs are the operations you can control access to.

For example, [the CDK grantRead

[2021-12-01 22:52] andrew-matteson opened #96 "[BUG] AysyncOpenSearch doesn't import"
**What is the bug?**
Maybe a documentation issue regarding `async`, not sure.

I have:
[code]
in my code, which errors with:

ImportError: cannot import name 'AsyncOpenSearch' from 'opensearchpy'

**What is the expected behavior?**
Import of async client succeeds.

**What is your host/environment?**
 - OS: mac
 - Version 1.0.0

[2021-12-02 00:51] VijayanB commented on #96
@andrew-matteson Did you try like below?
[code]

![Screen Shot 2021-12-01 at 4 51 38 PM](https://user-images.githubusercontent.com/11067894/144337833-f36c4299-3327-44b6-adc3-12386a1b90e8.png)

[2021-12-02 17:07] jasongilman commented on #94
I'm also seeing this error with Python 3.8

[code]

[2021-12-02 18:58] andrew-matteson commented on #96
I missed the hyphen in the pip install. Thanks!

[2021-12-02 18:58] #96 closed

[2021-12-02 19:45] VijayanB commented on #87
@linruoma Sorry for updating this issue late. We released python dsl ( high level python client for OpenSearch ) https://pypi.org/project/opensearch-dsl/ . Please try this in your project and open issues at [dsl-py](https://github.com/opensearch-project/opensearch-py/issues) if you find any issues. Thanks.

[2021-12-02 19:46] #87 closed

[2021-12-02 19:52] VijayanB opened #97 "[BUG] CI fails for main"
**What is the bug?**
CI fails for integration test ( opensearch, true )

**How can one reproduce the bug?**
https://github.com/opensearch-project/opensearch-py/runs/4186359419?check_suite_focus=true

**What is the expected behavior?**
CI should pass

**What is your host/environment?**
Github

**Do you have any screenshots?**
N/A

**Do you have any additional context?**
We should not run against la

[2021-12-03 16:12] stockholmux commented on #90
@axeoman and @rushiagr What are your thoughts on this one? Seems like a good plan to me.

[2021-12-03 18:34] axeoman commented on #90
Yea, I agree that this is a useful feature and thanks a lot for that :+1:

[2021-12-07 19:18] VijayanB commented on #50
Closing this issue since opensearch-dsl-py is already released.

[2021-12-07 19:18] #50 closed

[2021-12-10 02:00] linruoma opened #98 "Can we use SQL on Python clients"
**Is your feature request related to a problem?**
A clear and concise description of what the problem is, e.g. _I'm always frustrated when [...]_

**What solution would you like?**
A clear and concise description of what you want to happen.

**What alternatives have you considered?**
A clear and concise description of any alternative solutions or features you've considered.

**Do you have any addi

[2021-12-13 14:53] #81 closed

[2021-12-13 19:54] axeoman commented on #97
Looks like this is the reason, but I like the idea to stop running the latest OpenSearch in test runs.
[code]

[2021-12-15 09:30] axeoman commented on #97
Closing for now, since it has been fixed.
Perhaps we should create our own certificates or somehow generate demo "kirk" certificates for OpenSearch so we can run integration tests with versions >1.0.0

[2021-12-15 09:30] #97 closed

[2021-12-15 11:24] axeoman commented on #67
We just need to cherry-pick that fix and add a proper attribution. `elasticsearch-py` is still under Apache License v2 so it should be fine.

[2021-12-16 19:58] #52 closed

[2021-12-17 13:44] axeoman commented on #86
Using `opensearchpy.helpers.bulk` is much more convenient:
[code]

[2021-12-20 06:44] axeoman commented on #86
I believe the question is being answered. Please, reopen the issue if it still needs some clarification.

[2021-12-20 06:44] #86 closed

[2021-12-20 12:49] moshfrid opened #300 "Approximate nearest neighbors support"

[2021-12-20 17:27] axeoman commented on #98
@linruoma could you please elaborate, what kind of SQL usage enhancement you have in mind?

[2021-12-22 21:33] axeoman commented on #92
Thanks again for the contribution :+1:

[2021-12-22 21:33] #92 closed

[2021-12-22 21:36] mccullocht commented on #92
Thanks for the review!

[2021-12-28 10:54] axeoman commented on #84
I would argue with the proposed expected behaviour:
- Transport is actually fine in both examples, the `RequestError` should be raised when `mapper_parsing_exception` occurs.
- The `client.bulk` is something pretty raw and I would not change its behaviour because part of the requests can be succeded and part not, so raising an exception if it is at least one request failed - does not sound reasona

[2021-12-28 18:20] VijayanB commented on #46
This is not relevant to OpenSearch.

[2021-12-28 18:20] #46 closed

[2021-12-29 21:10] VijayanB commented on #90
Do we really need to have "plugins" between client and alerting. Why not have following format?
[code]

@dblock can you provide some feedback?

[2021-12-30 08:41] arnavdas88 commented on #90
@VijayanB

1.)  I was thinking of following this structure in the image below, which means `client.plugins.alerting` and later `client.plugins.reporting`, `client.plugins.notebooks`, etc...

<img width="286.5" alt="alerting" src="https://user-images.githubusercontent.com/38852529/147733689-98153127-0bd9-4a78-bb3b-4f35305d0bb7.png">

2.) Instead, we can always go for the structure `client.alerting`

[2021-12-31 15:06] dblock commented on #90
The first question is whether there's a single opensearch-py or opensearch-py and opensearch-alerting-py. If we believe in a vision that OpenSearch is highly extensible, plugins will exist independently, and there will be a version matrix for compatibility where a plugin says "I am compatible with these versions of OpenSearch". Similarly, this means that opensearch-py should not know about plugins

[2022-01-04 04:05] VijayanB opened #103 "Remove cert usage from CI"
* Remove added certs from upstream (https://github.com/opensearch-project/opensearch-py/tree/main/.ci/certs). This will be added as support to security plugin
* Remove references like https://github.com/opensearch-project/opensearch-py/blob/main/opensearchpy/helpers/test.py#L47
* Remove references from upstream https://github.com/opensearch-project/opensearch-py/blob/main/opensearchpy/helpers/test

[2022-01-04 04:07] VijayanB commented on #98
@linruoma Do you mean support for this endpoint? https://opensearch.org/docs/latest/search-plugins/sql/endpoints/

[2022-01-04 20:28] Shivamdhar opened #105 "Add code coverage section for the library"
We should be tracking code coverage for the client library to ensure we are not missing test cases for any new features or a module added in the past. This should be shown as a tag in the README section alongside `CI` and `IntegrationTests` status.

Follow https://app.codecov.io/gh/opensearch-project/opensearch-py/ for setup and further instructions.
Example repo for reference: https://github.com/

[2022-01-05 16:52] #29 closed

[2022-01-06 08:42] Shivamdhar commented on #67
The task can now be closed in the favor of PR: https://github.com/opensearch-project/opensearch-py/pull/107.

[2022-01-06 08:42] #67 closed

[2022-01-08 09:46] Shivamdhar commented on #103
The pull request has been merged!

[2022-01-08 09:46] #103 closed

[2022-01-09 17:20] laysauchoa opened #109 "How to migrate from ElasticSearch to OpenSearch?"
First of all, thanks for the amazing library.
I have more knowledge on ElasticSearch and I am learning more about OpenSearch now.
I have a question and please, do let me know if this is the right place to ask.

**Question:**
1) Where in the code should I find more information about it. Would be possible to point it out?

[2022-01-12 22:22] andyfase opened #110 "Missing SecurityClient - Inability to configure roles, role mappings and users"
Seemingly the [ElasticSearch security client](https://github.com/elastic/elasticsearch-py/blob/main/elasticsearch/_sync/client/security.py) was deleted as part of a commit removing [xpack features ](https://github.com/opensearch-project/opensearch-py/commit/a41fd13d2d8a9bc8d800a53faedeb8e11d4cccd0). Though their maybe be xpack features in this client, it also contains methods that are needed to co

[2022-01-12 23:29] andyfase commented on #110
Note. I appreciate that I was wrong above, and the Security Client is the Native ES one and does not the OpenDistro ES client API endpoiints.

Still the question remains if this library intends to release or would be interested in supporting core opendistro based methods for the types of methods mentioned above. Thanks.

[2022-01-13 21:11] dbabbitt commented on #98
client.transport.perform_request('POST', '/_plugins/_sql', body={'query': sql_str})

[2022-01-13 21:21] dbabbitt commented on #98
`

rows_list = []
results_dict = client.transport.perform_request('POST', '/_plugins/_sql', body={'query': sql_str, 'fetch_size': 10_000})
if 'error' in results_dict:
    print(results_dict['error'])
else:
    schema_dicts_list = results_dict['schema']
    datarows_list = results_dict['datarows']
    while 'cursor' in results_dict:
        cursor = results_dict['cursor']
        results_dict = cli

[2022-01-13 21:21] dbabbitt commented on #98
rows_list = []
results_dict = client.transport.perform_request('POST', '/_plugins/_sql', body={'query': sql_str, 'fetch_size': 10_000})
if 'error' in results_dict:
    print(results_dict['error'])
else:
    schema_dicts_list = results_dict['schema']
    datarows_list = results_dict['datarows']
    while 'cursor' in results_dict:
        cursor = results_dict['cursor']
        results_dict = client

[2022-01-13 21:22] dbabbitt commented on #98
rows_list = []
    results_dict = client.transport.perform_request('POST', '/_plugins/_sql', body={'query': sql_str, 'fetch_size': 10_000})
    if 'error' in results_dict:
        print(results_dict['error'])
    else:
        schema_dicts_list = results_dict['schema']
        datarows_list = results_dict['datarows']
        while 'cursor' in results_dict:
            cursor = results_dict['cursor

[2022-01-13 21:23] dbabbitt commented on #98
rows_list = []
    results_dict = client.transport.perform_request('POST', '/_plugins/_sql', body={'query': sql_str,
                                                                                    'fetch_size': 10_000})
    if 'error' in results_dict:
        print(results_dict['error'])
    else:
        schema_dicts_list = results_dict['schema']
        datarows_list = results_dict['datarows

[2022-01-13 21:24] dbabbitt commented on #98
rows_list = []
    results_dict = client.transport.perform_request('POST', '/_plugins/_sql', body={'query': sql_str,
                                                                                    'fetch_size': 10_000})
    if 'error' in results_dict:
        print(results_dict['error'])
    else:
        schema_dicts_list = results_dict['schema']
        datarows_list = results_dict['datarows

[2022-01-13 22:17] aiudirog opened #111 "[FEATURE] Respect SSL certificate environment variables"
**Is your feature request related to a problem?**
I can't configure SSL cert files with the urllib3 backend through environment variables because certifi is chosen by default here: https://github.com/opensearch-project/opensearch-py/blob/cfe1190a2297226468e86dcf697d8b07b6020df5/opensearchpy/connection/http_urllib3.py#L56

This is preventing me from configuring a company SSL certificate on the fly

[2022-01-19 12:48] dblock commented on #10
I think it'd be great if this client exported documentation into https://github.com/opensearch-project/documentation-website _as well as_ make it available in gh-pages through README. Please contribute!

[2022-01-19 13:12] PhilipMay commented on #10
@dblock If wanted I can contribute a GH-pages site generated with Sphinx.
Do you want me to?

[2022-01-19 14:24] dtaivpp commented on #10
@PhilipMay  I would want you to! haha I was going to ask if we wanted to do that actually as I feel like that is kinda the standard

[2022-01-19 15:49] dblock commented on #10
Please! Don't ask for permission to contribute.

[2022-01-19 18:48] PhilipMay commented on #10
The main reason I asked was to avoid duplication of work.

[2022-01-19 20:49] PhilipMay commented on #10
Started a PR to generate documentation with Sphinx. See #112

[2022-01-20 10:10] PhilipMay opened #113 "[FEATURE] High Level API"
This is a mix of question and feature request:

Do you plan to develop a high level Python API? Where do you plan to develop it?
Here or as an extra project?

Specifically, I'm interested in a batch API, for example. And I could provide PRs.

Can we reuse the elastic helper functions? See here: https://github.com/elastic/elasticsearch-py/tree/a5b38828740381148fd0642863a579be17d36eaa/elasticsearch/

[2022-01-24 10:56] dynox opened #320 "[FEATURE] - async support"
**Is your feature request related to a problem?**
Guys, do you have plan to introduce async support in opensearch-dsl (opensearch-py is already doing this) ?

[2022-01-26 21:20] VijayanB opened #116 "[FEATURE] Support opensearch-py library on conda forge"
**Is your feature request related to a problem?**
The opensearch-py python library is only available on pypi. A number of users rely on the conda repository instead.

see [here](https://github.com/opensearch-project/opensearch-build/issues/785) for more information.

[2022-01-27 14:45] dtaivpp commented on #109
@laysauchoa  Now I see why you reached out to me on twitter! Most, if not all of your knowledge about Elasticsearch should be directly transferable to OpenSearch. Most of our repo's are a direct fork of several of theirs from when they were open source.

As for how to migrate from Elasticsearch to OpenSearch do you mean how to move your data from one cluster to another or how to migrate from their

[2022-01-27 21:01] VijayanB opened #117 "Update README regarding opensearch-dsl"
We successfully released opensearch-dsl. Update the welcome section to reflect the same (https://github.com/opensearch-project/opensearch-py/blob/main/README.md#welcome)

[2022-02-02 06:42] PhilipMay opened #118 "Bug: Opening a new Issue here does not offer to report a bug."
No text - see title.

[2022-02-02 06:44] PhilipMay opened #119 "Bug: black does not support Python 2 anymore - need to fix the linter"
see https://github.com/opensearch-project/opensearch-py/runs/5028094085?check_suite_focus=true#step:5:15

I can provide a PR. Should we move to py33 or other Version?
Or shold we version pin black to an old version?

[2022-02-02 20:05] dtaivpp commented on #119
I feel like we should move to py33 support. The current release of black is the first one that is no longer beta and I think it's valuable to stay on the non-beta release. In addition python 2 was officially deprecated Jan 1 of this year.

[2022-02-03 08:55] PhilipMay commented on #119
fix is done in PR #120

[2022-02-05 09:25] PhilipMay commented on #119
fixed in #120 - closing

[2022-02-05 09:25] #119 closed

[2022-02-05 09:27] PhilipMay opened #121 "[PROPOSAL] remove Python 2 support"
see this discussion: https://github.com/opensearch-project/opensearch-py/pull/120#pullrequestreview-873304186

This should be changed for example:

https://github.com/opensearch-project/opensearch-py/blob/4056fa0176cf33abc4120a1c197e03f6837f0eee/.github/workflows/ci.yml#L42

[2022-02-05 09:29] PhilipMay commented on #121
what do you think @dtaivpp @VijayanB

[2022-02-08 19:48] PhilipMay opened #122 "[BUG] Sphinx build is failing"
see here: https://github.com/opensearch-project/opensearch-py/runs/5115113578?check_suite_focus=true#step:5:11

[2022-02-08 19:52] PhilipMay commented on #122
Problem is that here doc and optional is installaled. But it must be "docs" and "optional" is not available.
I will provide a fix...

https://github.com/opensearch-project/opensearch-py/blob/c34680a516297a087451349e781ea76a114e4ea1/.github/workflows/build_deploy_doc.yml#L21

[2022-02-08 20:11] PhilipMay commented on #122
fix is provided by PR #123

[2022-02-08 20:36] PhilipMay commented on #118
see
![image](https://user-images.githubusercontent.com/229382/153071299-05465e36-85fc-4753-9514-c40309a62f0f.png)

[2022-02-08 20:59] VijayanB commented on #118
My be due to: https://github.com/opensearch-project/opensearch-py/pull/100/files#r802052202

[2022-02-09 01:51] whitesource-for-github-com[bot] opened #126 "CVE-2021-41496 (High) detected in numpy-1.21.5-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl"
## CVE-2021-41496 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>numpy-1.21.5-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl</b></p></summary>

<p>NumPy is the fundamental package for array computing with Python.</p>
<p>Library home page: <a href="https

[2022-02-09 01:51] whitesource-for-github-com[bot] opened #127 "CVE-2021-34141 (Medium) detected in numpy-1.21.5-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl"
## CVE-2021-34141 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>numpy-1.21.5-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl</b></p></summary>

<p>NumPy is the fundamental package for array computing with Python.</p>
<p>Library home page: <a href="htt

[2022-02-10 01:55] dsturnbull opened #128 "[FEATURE] Do not rely on certifi for root certificates"
**Is your feature request related to a problem?**
The `certifi` library has a software licence that can be problematic. Similar to https://github.com/opensearch-project/opensearch-py/issues/111. It could also be preferable to maintain root certs at an operating system level rather than purely at a dependency level.

**What solution would you like?**
Allow `certifi` to be an optional dependency. Wh

[2022-02-11 19:18] PhilipMay opened #130 "[FEATURE] Enable GH Page"
Hi,

in #112 I made a PR to build a Sphinx doc page. This needs to be enabled.

Here is a howto:
https://github.com/opensearch-project/opensearch-py/pull/112#issuecomment-1017849181

Can you do that please?

Thanks
Philip

[2022-02-11 19:19] PhilipMay commented on #130
@VijayanB

[2022-02-11 19:20] PhilipMay commented on #122
This is fixed. See PR. Closing it.

[2022-02-11 19:20] #122 closed

[2022-02-15 09:02] csn-eric-cheung opened #131 "[FEATURE] Async support"
Is the async feature stable to use? I tried following code but get error "AttributeError: 'AWS4Auth' object has no attribute 'encode'"

[code]

[2022-02-15 19:27] VijayanB commented on #131
@Shivamdhar can you verify do you see any issue with AyncOpenSearch client?

[2022-02-15 19:32] VijayanB commented on #121
Since python 2.x support is ended, i agree that we should also move forward with python 3.x support only. I am leaning towards create major version and remove python 2 support starting 2.0 and keep 1.x only for high severity security fixes.
@dblock Can you provide feedback?

[2022-02-17 16:30] sepiariver opened #132 "[BUG] OpenSearch.index() erroneously invokes PUT method resulting in data loss"
**What is the bug?**
At https://github.com/opensearch-project/opensearch-py/blob/65c12d7224c9b57d60397f1069e4cbaa1caea6d6/opensearchpy/client/__init__.py#L358

We do: `"POST" if id in SKIP_IN_PATH else "PUT"`

Logically this means "If no id, POST" therefore "If id, PUT"

According to the API reference here: https://opensearch.org/docs/latest/opensearch/index-data/

If id is provided, and the user

[2022-02-17 18:07] VijayanB commented on #116
Closing this since it is already available at conda forge by community.

[2022-02-17 18:07] #116 closed

[2022-02-20 08:02] PhilipMay commented on #130
Hi. Is there anything I can help with this? Any concerns we should discuss?

[2022-02-21 18:23] dreamer-89 opened #134 "[Upgrade]: Remove type mapping support"
**Is your feature request related to a problem?**
As part of v2.0 release, mapping type are removed from OpenSearch engine. Need to remove the support of type from clients
Issue [1940](https://github.com/opensearch-project/opensearch/issues/1940)

**What solution would you like?**
Upgrade the client code to remove usage of
- Type API end-points
- Remove include_type_name parameter from requests.

[2022-02-21 18:53] VijayanB commented on #134
@dreamer-89 Shall we move this issue to https://github.com/opensearch-project/opensearch-clients , since this is applicable for all of the clients. What do you think?

[2022-02-21 18:57] dreamer-89 commented on #134
@VijayanB : This sounds correct. Thanks for pointing out.

[2022-02-21 19:00] #134 closed

[2022-03-08 07:15] VachaShah commented on #126
`opensearch-py` is using the latest version of `numpy` - https://github.com/opensearch-project/opensearch-py/blob/main/dev-requirements.txt#L11. After installing the dependencies on my machine using `python -m pip install -r dev-requirements.txt`, the numpy version is:

[code]

The CVE mentioned here was fixed in 1.22.0 - https://github.com/numpy/numpy/releases/tag/v1.22.0

[2022-03-08 07:27] VachaShah commented on #127
Similar comment as #126. `opensearch-py` is using `numpy-1.22.3`. This issue was fixed in `1.22.0` - https://github.com/numpy/numpy/issues/18993.

[2022-03-08 07:27] #127 closed

[2022-03-08 07:28] #126 closed

[2022-03-09 12:43] PhilipMay commented on #130
Hello? Anybody reading this?
Do you want to coninue with the GH page?

[2022-03-09 15:34] VijayanB commented on #130
@CEHENKLE can you please take a look into this request? Thanks

[2022-03-09 18:43] CEHENKLE commented on #130
@PhilipMay  Hi Philip -- I apologize for missing this :(  If there's ever something I miss like this again, feel free to @ me!

I've enabled the pages using the gh-pages branch.  LMK if there's any other additional steps I need to do.

Thanks again, and I apologize for the miss.

[2022-03-10 15:04] PhilipMay commented on #130
Thanks. It looks good: https://opensearch-project.github.io/opensearch-py/

Closing this.

[2022-03-17 10:47] atishbits commented on #131
+1

Attempting to run search using awsauth with AsyncOpenSearch results in below error.

File "/usr/local/lib/python3.10/site-packages/elasticsearch/_async/client/__init__.py", line 1676, in search
return await self.transport.perform_request(
File "/usr/local/lib/python3.10/site-packages/elasticsearch/_async/transport.py", line 296, in perform_request
status, headers, data = await connection.perfo

[2022-03-17 20:29] Shivamdhar commented on #131
This will require some code changes here: https://github.com/opensearch-project/opensearch-py/blob/main/opensearchpy/_async/http_aiohttp.py#L148-L151, looks like async doesn't support custom auth as of now. @atishbits / @csn-eric-cheung , please feel free to contribute.

[2022-03-22 20:52] Shivamdhar commented on #85
Released this feature with opensearch-py `1.1.0`

[2022-03-22 20:52] #85 closed

[2022-03-22 20:57] lizsnyder commented on #85
@Shivamdhar can you provide sample code?

[2022-03-22 21:47] sfoster3 opened #141 "[BUG] requests actually required in version 1.1.0, but not listed as install_requires"
**What is the bug?**
opensearch-py version 1.1.0 does not list `requests` as an install_requirement, but requires requests.

**How can one reproduce the bug?**
Steps to reproduce the behavior:
1. install opensearch-py 1.1.0 `pip install opensearch-py` into an env that does not have `requests` installed
2. Import opensearch `from opensearchpy import OpenSearch` or `import opensearchpy`
3. See that

[2022-03-22 22:22] Shivamdhar commented on #85
Please refer this section for the sample usage of AWS IAM auth: https://github.com/opensearch-project/opensearch-py#using-iam-credentials-for-authentication

[2022-03-22 22:28] lizsnyder commented on #85
Perfect, thanks @Shivamdhar. I'll add a similar sample to the AWS docs.

[2022-03-23 17:54] gabrielcocenza opened #143 "[FEATURE] CCR (Cross Cluster Replication ) client"
I didn't find a way of setting Cross Cluster Replication (CCR) using the `opensearch-py`.

I think it would be good to have a similar feature as it has on [ElasticSearch](https://github.com/elastic/elasticsearch-py/blob/b9597bcd77e04c572292273eef1119b5e5bcc751/elasticsearch/_sync/client/ccr.py)

Thanks

[2022-03-23 21:30] dblock commented on #143
Add/comment to https://github.com/opensearch-project/opensearch-py/issues/90 please!

[2022-03-23 21:56] VachaShah opened #144 "Test and publish compatibility matrix with various OpenSearch versions"
Add support to run integration tests across various versions of OpenSearch and publish a compatibility matrix for the client version vs OpenSearch version.

PR Reference: https://github.com/opensearch-project/opensearch-java/pull/122
Compatibility: https://github.com/opensearch-project/opensearch-java/blob/main/COMPATIBILITY.md

[2022-03-28 11:21] gabrielcocenza commented on #90
Hello :wave:

I'm currently developing a [Juju charm](https://charmhub.io/) for OpenSearch and I'm missing a way of setting CCR (Cross Cluster Replication) via the python client. Right now I'm using the rest API in the documentation to do it, but it raises some concerns that the code might brake in the future if the endpoints changes between different OpenSearch versions.

Reading the code of the

[2022-03-28 16:11] stockholmux commented on #90
@gabrielcocenza The API is the way to do it right now. OpenSearch follows SemVer so the concern of the APIs breaking will only be an issue at a major versions. I would think the charm you're developing would need to change at that time anyway.

Also, the ES client's CCR is similar in name only - I don't believe that theres is compatibility between the OpenSearch and ES implementations of CCR.

All

[2022-04-01 19:36] VachaShah opened #145 "Breaking changes for 2.0"
Get started with incorporating the breaking changes for 2.0 from OpenSearch 2.0.

To do so:
1. Branch off a 1.x from main if not already done so that development for 2.0 can start on main.
2. Incorporate breaking changes as mentioned in https://github.com/opensearch-project/opensearch-clients/issues/12.
3. Add integ tests support to run against unreleased OpenSearch.

Example PR from java-client:

[2022-04-05 21:36] VachaShah opened #148 "Add auto backport functionality"
Coming from meta issue https://github.com/opensearch-project/opensearch-clients/issues/14:

- [ ] Add auto-backport PR creation Github action to make sure all the PRs are backported for a particular release.
- [ ] Add auto-delete for merged auto-backport PRs to clean up the branches created during auto-backport.
- [ ] Add documentation for the same.

[2022-04-12 14:29] pejter opened #154 "[BUG] helpers.bulk action is incorrectly typed"
**Is your feature request related to a problem?**
When using helpers.bulk in a typed environment I need to manually cast the result to either tuple[int, int] or tuple[int, list[Any]] depending on the value of stats_only argument.

**What solution would you like?**
You can introduce overloads to the relevant functions which return different types depending on arguments like `helpers.bulk`
[code]

[2022-04-14 21:50] #148 closed

[2022-04-15 14:39] cbarton4 opened #157 "[BUG] unexpected keyword error when switching to opensearch"
I'm switching over a fastapi application from elasticsearch to opensearch, and a number of unit tests fail, near as I can tell, all GET  requests to the '/search' endpoint produce an error of this type:

ERROR api/test_api.py::test_app_search_response - TypeError: search() got an unexpected keyword argument 'query'

Code in question:
[code]

There's no 'query' keyword at play here, and none in any

[2022-04-18 11:15] atishbits commented on #131
@Shivamdhar - Haven't had a chance to make the suggested code changes yet.

Meanwhile, here's a work around (at the application code level) to ensure that requests are signed with AWS headers: https://stackoverflow.com/a/69272472/940154

[2022-04-20 22:35] #145 closed

[2022-04-25 19:10] VachaShah commented on #144
Done in #146

[2022-04-25 19:10] #144 closed

[2022-05-04 11:39] stephenleo commented on #10
Is there a way to access the gh-pages doc site?

[2022-05-04 13:49] PhilipMay commented on #10
Thanks for bringing this up!
Is is here: https://opensearch-project.github.io/opensearch-py/

A PR to add this to the README.md is still in my list.

[2022-05-05 11:31] ynang opened #164 "request [/condidates/_doc/_search] contains unrecognized parameters: [scroll], [size][BUG]"
After I  update image for opensearchproject/opensearch:latest and opensearchproject/opensearch-dashboards:latest in my docker container,the error occurs when I use scan API of python elasticsearch helpers client:

`HTTP_EXCEPTIONS.get(status_code, TransportError)(
opensearchpy.exceptions.RequestError: RequestError(400, 'illegal_argument_exception', 'request [/condidates/_doc/_search] contains unre

[2022-05-05 16:41] cbarton4 commented on #157
https://github.com/stac-utils/stac-fastapi-elasticsearch/blob/main/stac_fastapi/elasticsearch/tests/api/test_api.py line 67 and following.  I've basically got a copy of this app where I'm trying to swap 1-for-1 elasticsearch-py for opensearch-py, and I see this error with multiple unit tests.  Honestly just trying to determine if its a usage error on my part or if it's a genuine bug in the connect

[2022-05-17 18:24] dblock commented on #157
@cbarton4 were you able to resolve it? presumably there should be no changes between ES 7.10 and OpenSearch 1.0. But I am not familiar with your application, as @Jon-AtAWS pointed out, look like this request is not made against OpenSearch. If you have a simple way to reproduce your problem for us (a fork with your changes and a 1-liner to run tests?) maybe someone can take a look?

[2022-05-19 12:26] arittner opened #165 "[BUG] open_point_in_time uses request params, but body is needed."
**What is the bug?**
A call to
`resp = client.open_point_in_time(index=index_name, keep_alive='10m')`
is not working. OpenSearch expects a body.

Exception:
[code]

**How can one reproduce the bug?**
Try to open a PIT with open_point_in_time (see above)

**What is the expected behavior?**
Successful call to create a PIT response.

**What is your host/environment?**
 - Docker Desktop (Windows 11)

[2022-05-20 11:59] nadobando commented on #131
I had this working thanks to [samuelcolvin](https://github.com/samuelcolvin)/[aioaws](https://github.com/samuelcolvin/aioaws)

I have created a dedicated transport class `AWSAsyncTransport` which signs the requests, enjoy 😉

[code]

[2022-05-23 22:29] VachaShah opened #166 "Release version 2.0.0 for Python client"
Release the client version 2.0.0. Before releasing, the following items need to be done:

- [x] Add OpenSearch 2.0 to the integration [test matrix](https://github.com/opensearch-project/opensearch-py/blob/main/.github/workflows/integration.yml#L14).
- [x] Bump the client version to 2.0.0.
- [x] Cut a 2.0 branch for the client.

[2022-06-01 04:58] VachaShah commented on #166
Python client version 2.0.0 released: https://github.com/opensearch-project/opensearch-py/releases/tag/v2.0.0

[2022-06-01 04:58] #166 closed

[2022-06-09 07:10] jtlz2 opened #171 "API Reference - python docs please!"
**Is your feature request related to a problem?**

I am always frustrated because in spite of sample documentation online there is an absence of a python API reference and/or easy-to-find docstrings. I have to go digging into the code to figure out function signatures. It would really speed up development if you would be able to post this somewhere.

**What solution would you like?**
An online API

[2022-06-09 19:14] #10 closed

[2022-06-09 19:15] VachaShah commented on #171
Hi @jtlz2, @PhilipMay recently added the Sphinx link https://opensearch-project.github.io/opensearch-py/. Hope that helps!

[2022-06-10 09:48] jtlz2 commented on #171
@VachaShah @PhilipMay Thank you - that is 💯 what I needed! Please could you make it more prominent around the place? If you hadn't told me I don't think I'd have found it. Thanks again!

[2022-06-10 10:02] PhilipMay commented on #171
@jtlz2 what exactly do you mean? Maybe you want to provide a PR?

[2022-06-10 23:26] bepetersn opened #299 "AttributeError: 'AggsProxy' object has no attribute '_index'"
This is probably not a bug on second glance, I must just be using the library incorrectly. Would love to receive that feedback. I am pretty new to this library as I am maintaining some legacy code.

This is (obviously) not on you, but for total context, this code worked before, in the sense that it didn't produce error at least, when I was using `elasticsearch_dsl` (version 6 -- with accompanying

[2022-06-14 13:53] venugopalnaiduch opened #172 "[BUG] Connection Leak"
There seams to be a connection leak issue when connections are left idle. Ideally if any connection that cannot be used must be closed.

Sample Code:-

import asyncio
import ssl
from opensearchpy import AsyncOpenSearch
from opensearchpy.connection import create_ssl_context
ssl_context = create_ssl_context()
ssl_context.check_hostname = False
ssl_context.verify_mode = ssl.CERT_NONE

async def run()

[2022-06-15 14:04] tyagian opened #173 "[BUG]"
**What is the bug?**

The documentation here https://opensearch.org/docs/latest/opensearch/index-data/
mentions if data formatted with index name, it should use index name from data itself.

logs = `[
{ "index": { "_index": "index-2022-06-08", "_id": "<id>" } }
{ "A JSON": "document" } \n
{ "index": { "_index": "index-2022-06-09", "_id": "<id>" } }
{ "A JSON": "document" } \n
{ "index": { "_index"

[2022-06-16 01:30] VachaShah opened #174 "[FEATURE] Add support for inclusive naming"
Add support for inclusive naming by deprecating the master nomenclature.

See meta issue https://github.com/opensearch-project/opensearch-clients/issues/16 for details.

[2022-06-17 12:10] anitakrueger commented on #110
I'd be interested in this as well, because it seems I cannot use the native Elasticsearch client on my OpenSearch cluster.
`elasticsearch7.exceptions.UnsupportedProductError: The client noticed that the server is not a supported distribution of Elasticsearch`
(using `elasticsearch7` python client on a `7.10.2` OpenDistro Elasticsearch.)

[2022-06-17 13:08] anitakrueger commented on #110
I got the native Elasticsearch client to work, but of course the SecurityClient doesn't work because of the difference in API endpoints.
How do I programmatically manage users and roles without making direct HTTP calls?

[2022-06-25 13:39] jiten1551 opened #176 "[BUG] opensearch-py doesn't support chunked encoding with compression enabled with sigv4 AuthN/AuthZ"
**What is the bug?**
Opensearch python client using content length header and does not support chunked with compression enabled.

**How can one reproduce the bug?**
Steps to reproduce the behavior:
1. create openSearch domain in (AWS) which support IAM based AuthN/AuthZ
2. send signed request to opensearch cluster using python rest client(https://docs.aws.amazon.com/opensearch-service/latest/devel

[2022-07-05 16:16] huyaboo opened #177 "[FEATURE] API Reference for Plugins"
**Is your feature request related to a problem?**
I have read the docs as linked in #171, but there is no mention of support for plugins for the OpenSearch bundle (e.g. REST calls for creating an [anomaly detector](https://opensearch.org/docs/latest/monitoring-plugins/ad/api/)).

**What solution would you like?**
Either documentation for plugins or Python client support for existing plugins, if su

[2022-07-06 18:16] dblock commented on #177
https://github.com/opensearch-project/opensearch-py/issues/90 is related

[2022-07-12 19:18] VachaShah commented on #113
@PhilipMay Any chance this is covered in the High Level Python Client https://github.com/opensearch-project/opensearch-dsl-py?

[2022-07-12 19:18] VachaShah commented on #117
Being addressed in PR https://github.com/opensearch-project/opensearch-py/pull/178

[2022-07-12 19:27] PhilipMay commented on #113
Not sure. Sorry.

[2022-07-16 12:26] amoghtewari commented on #174
@VachaShah I was able to list all files that have one or more occurrences of the string "master" (with the context mentioned in the meta issue). May I ask to be assigned this issue? I'll open a PR and make changes.

https://github.com/opensearch-project/opensearch-py/blob/main/opensearchpy/_async/client/__init__.py
https://github.com/opensearch-project/opensearch-py/blob/main/opensearchpy/_async/c

[2022-07-16 13:35] amoghtewari commented on #174
@VachaShah, I was able to list all files that have one or more occurrences of the string "master" (with the context mentioned in the meta issue). May I ask to be assigned this issue? I'll open a PR and make changes.

https://github.com/opensearch-project/opensearch-py/blob/main/opensearchpy/_async/client/__init__.py
https://github.com/opensearch-project/opensearch-py/blob/main/opensearchpy/_async/

[2022-07-16 15:32] VachaShah commented on #174
Thank you @amoghtewari! Assigning you

[2022-07-18 22:46] VachaShah opened #181 "[BUG] Integration tests failing for tests without security"
**What is the bug?**
Integration tests are failing for tests without security, https://github.com/opensearch-project/opensearch-py/runs/7397649625?check_suite_focus=true

[2022-07-20 23:30] VachaShah commented on #181
Failure fixed in PR #180

[2022-07-21 17:45] VachaShah opened #182 "Upgrading asyncio results in some integration test failures"
Upgrading to asyncio 0.19 results in integration test failures as seen in https://github.com/opensearch-project/opensearch-py/runs/7397649625?check_suite_focus=true

[code]

Currently, the version of asyncio has been constrained to <= 0.18.3 in PR #180

[2022-07-21 18:07] #181 closed

[2022-07-26 15:03] cbarton4 commented on #157
This appears to come from a change in the API with the release of the client subsequent to the OpenSearch fork, I've managed to resolve it locally and will close the issue.

[2022-07-26 15:03] #157 closed

[2022-07-27 15:59] dacevedo12 commented on #131
Based on the previous comments, I modified it a bit and ended up with:

[code]

If you agree, I can proceed to open a PR so we get this moving toward a merge

[2022-08-04 22:52] wbeckler commented on #79
Since this was first opened, this information has been added to [GETTING_STARTED.md](https://github.com/opensearch-project/opensearch-py/blob/main/). There are mentions of both `pip install` and `git` but a little more tersely than originally proposed. Unless there are any objections, I would propose we close this as solved.

[2022-08-05 05:45] wbeckler commented on #77
This seems like a good example to add to the docs. I will tag this issue as such once I get permission to do so.

[2022-08-05 05:49] wbeckler commented on #84
axeoman's argument sounds definitive to me. I would propose closing this as "working as it should" if there aren't any objections.

[2022-08-05 05:52] wbeckler commented on #94
@jasongilman Did you get this error in a lambda or elsewhere?

[2022-08-05 05:54] wbeckler commented on #98
dbabbitt's answer sounds right. Unless there are objections I will close this issue as solved by that suggestion.

[2022-08-05 05:58] wbeckler commented on #109
Unless there are any objections I will close this issue as solved.

[2022-08-05 06:04] wbeckler commented on #128
@dsturnbull @sf-project-io feel free to submit a PR fixing this in this repo.

[2022-08-05 06:15] wbeckler commented on #95
Given that the protocol of the search service requires POST for some reads, the issue does lie here: https://github.com/aws/aws-cdk/issues/17761

I propose we close this issue if there aren't any objections.

[2022-08-05 06:20] wbeckler commented on #111
@aiudirog  Feel free to create a PR for this.

[2022-08-05 06:28] wbeckler commented on #121
@VijayanB Do you know if keeping python 2.7 in there is breaking anything in OpenSearch v 1.x today? E.g. is it causing flakier tests or build issues?

[2022-08-05 06:50] wbeckler commented on #132
First, this looks like a big gap in the core docs for OpenSearch. Second, the python client is using the wrong verb, and if it doesn't matter, then the conditional should be removed. Third, this sounds like a bug in the OpenSearch server in handling POST without `/update`.

Am I getting this right? Feel free if anyone wants to propose new issues in core or docs.

[2022-08-05 06:55] wbeckler commented on #141
The PR was merged. Unless there are any objections I will close this issue.

[2022-08-05 07:53] SamStephens commented on #95
Yeah, now I understand the situation better, I concur.

[2022-08-05 08:20] #109 closed

[2022-08-05 09:27] jasongilman commented on #94
@wbeckler It was in a lambda.

[2022-08-05 10:20] PhilipMay commented on #121
btw.: version 3.5 and 3.6 and also unsupported now...

[2022-08-05 11:12] Aarif1430 commented on #94
@jasongilman Yes it was in aws lambda.

[2022-08-05 17:41] daniel-rhoades opened #184 "[BUG] Allow setting alternate host header (with port) in AWSV4SignerAuth"
### What is the bug?
The [`fetch_url` method within `signer.py`](https://github.com/opensearch-project/opensearch-py/blob/035b47265045409d5687a878dbbfdd99894af25c/opensearchpy/helpers/signer.py#L42) does not include port information in the signing request - it only specifies uses the `host` field.

As a result, the signing request is incorrectly generated when connecting to an OpenSearch domain th

[2022-08-05 17:47] daniel-rhoades commented on #184
### Workaround
Run the proxy / tunnel on the same port configured for OpenSearch domain endpoint (e.g. 443 instead of 8443).  The downside is that within most environments, this must be run as root / sudo as ports below 1024 are restricted.  This may not be possible for some users, regardless, it is bad security practice for the intended purpose.

[2022-08-05 17:58] #141 closed

[2022-08-08 20:41] #79 closed

[2022-08-08 20:42] dblock commented on #84
Let's ensure this is thoroughly documented before closing?

[2022-08-08 20:43] dblock commented on #98
@wbeckler I think this is a feature request to add first class support for the sql plugin, similar to #93

[2022-08-08 20:47] dblock commented on #95
Took me a while to grok this. The reason why some reads require a POST is well explained in https://github.com/aws/aws-cdk/issues/17761#issuecomment-1186674964 (thank you). Now that itself is potentially a problem, maybe it's worth raising a meta issue in OpenSearch core so that all reads can be done with GETs?

I agree that we can close the issue here.

[2022-08-08 20:47] #95 closed

[2022-08-08 20:48] dblock commented on #184
Would appreciate a PR/fix @daniel-rhoades!

[2022-08-08 20:53] SamStephens commented on #95
@dblock I'll leave it to your judgment as to whether to raise a an issue on OpenSearch core. Please post the issue here if you do; I'd be curious to observe the disucssion.

My take is that the use of POST for an operation like scroll is semantically correct, as you are setting state.

To my mind, the best thing Opensearch core can do is make it crystal clear in the documentation that trying to co

[2022-08-09 16:55] dblock commented on #95
I think it's always worth having a discussion @SamStephens, even if for posterity so we don't "rediscover" the same problem/solution/conversation! I opened https://github.com/opensearch-project/OpenSearch/issues/4177

[2022-08-09 16:59] dblock commented on #95
For documentation I opened https://github.com/opensearch-project/documentation-website/issues/863

[2022-08-10 18:07] VachaShah opened #185 "[FEATURE] Automate and document the release process"
### Is your feature request related to a problem?
Enable any maintainer to do a release by clicking a button.

### What solution would you like?
Automation and documentation similar to https://github.com/opensearch-project/opensearch-java/blob/main/RELEASING.md#releasing.

### Do you have any additional context?
We want to release new features (more) often.

[2022-08-11 17:42] amoghtewari commented on #174
Hi @VachaShah , I was attempting to run the nox test suite and got the following error (limiting myself to Python 3.9 for now)

![window](https://user-images.githubusercontent.com/20358518/184198044-f50e2cdf-6c46-471c-9763-86ca151ba23d.png)

Have you or anyone else encountered a similar message? Am I missing something obvious?

[2022-08-11 19:06] VachaShah commented on #174
Hi @amoghtewari, can you paste your repo link with the code changes and I can take a look? I have not seen this error for the nox command as of yet but would be helpful to look at the changes.

[2022-08-12 23:27] VachaShah opened #186 "[FEATURE] Testing compatibility on different platforms"
### Is your feature request related to a problem?
We test our clients for Linux platform but we do not know if these clients work smoothly on platforms like windows/mac etc.
Coming from https://github.com/opensearch-project/opensearch-clients/issues/18

### What solution would you like?
Test the client with most popular platforms and CPU architectures:

- x64
- ARM
- Linux
- Windows
- MacOS

[2022-08-16 21:45] harshavamsi commented on #173
Hi @tyagian,

Looks like you're using the helper library instead of the actual client. You're right that you do not need to specify the `index` when you call the `bulk` API.

Here's what the input looks like:

[code]

Snippet that bulk indexes:

[code]

And the response:
[code]

[2022-08-18 18:12] harshavamsi commented on #173
@tyagian adding on to that, here's an example of how to do it with the helper functions.

[code]

The bulk helper function accepts an `action` iterable or a generator(preferred while loading large data that has memory constraints).

[2022-08-18 18:50] harshavamsi opened #188 "[FEATURE] Add helper functions documentation to sphinx website"
### Is your feature request related to a problem?
Requires helper functions to be documented.

### What solution would you like?
Requires documenting the following functions:
- Bulk
- ParallelBulk
- Scan
- Re-index
- AWSV4SignerAuth

[2022-08-18 20:38] dblock commented on #110
This is similar to https://github.com/opensearch-project/opensearch-py/pull/93. That PR is in a good shape and just needs to be finished. Similarly we would need to add security plugin endpoints  here. Maybe someone wants to pick this up?

[2022-08-19 17:29] harshavamsi commented on #85
Newer link: https://github.com/opensearch-project/opensearch-py/blob/main/GETTING_STARTED.md#using-iam-credentials-for-authentication

[2022-08-21 23:19] niffler92 commented on #131
Any updates on this? Would love to use Async operations.

[2022-08-25 14:08] dblock commented on #131
@niffler92 Want to help turn this into a PR?

[2022-08-26 03:34] wbeckler commented on #154
Can you imagine a scenario where introducing this fix would break someone's already working code that relied on the old result typing? If so we'd need to keep track of which version we do this in, or maybe fix it in a way that couldn't break old code.

[2022-08-26 05:58] wbeckler commented on #172
This is a good catch. When this is fixed it would be great to add a test for this.

[2022-08-26 12:53] pejter commented on #154
I don't think there's a way you can depend on this that breaks with the proposed change.
The overall function type stays the same, so if you passed an arbitrary bool to the function then you'd get the same resulting type.
But if you passed True or False you'd now get a more specific type instead of the generic one.

In the end adding overloads doesn't change anything when it comes to the existing

[2022-08-30 05:34] wbeckler commented on #154
This makes total sense. Feel free to submit a PR for this.

[2022-08-30 14:15] dylanjcastillo opened #193 "[BUG] Cannot connect to a Docker local development cluster using opensearch-py"
### What is the bug?
I cannot connect to a local development cluster using opensearch-py. If I use `curl` it works correctly.

### How can one reproduce the bug?
1. Run Docker's image for local development: ```docker run -p 9200:9200 -p 9600:9600 -e "discovery.type=single-node" opensearchproject/opensearch:2.2.0```
2. Run the following code in python:
[code]

### What is the expected behavior?
I s

[2022-08-30 16:28] dylanjcastillo commented on #193
That was it! Thank you, it's working now.

[2022-08-30 17:02] dtaivpp commented on #193
Awesome! It’s a pretty common issue with the client. I actually wonder if we could raise a specific exception to alert people to try and change the verify setting

[2022-08-30 17:02] #193 closed

[2022-08-31 03:07] wbeckler commented on #193
Would either of you be up for creating an issue to change this default, and/or to drafting a PR?

[2022-09-06 13:19] amoghtewari commented on #174
Hi @VachaShah, here's my fork, https://github.com/amoghtewari/opensearch-py which I was able to test alongside the docker image with nox ( apparently the bugs were from not having set up the SSL certs so I disabled security since it has no intersection with my changes, was able to pass 65% of the tests, the failed ones required ssl), Please take a look and let me know if this works as expected.

[2022-09-07 17:30] harshavamsi commented on #174
@amoghtewari can you raise a PR? It is easier to measure changes that way. Thanks.

[2022-09-07 23:29] harshavamsi opened #194 "[PROPOSAL] Merge opensearch-dsl-py into this repository"
### What are you proposing?
Merge the opensearch-dsl-py repo here as an additional package. Users would be able to import both the dsl libraries and the python-client since dsl functions always require importing the python client.

### How did you come up with this proposal?
Currently the [ruby client](https://github.com/opensearch-project/opensearch-ruby) has multiple gems that are published inde

[2022-09-08 01:58] harshavamsi opened #195 "[FEATURE] Automate bumping versions after releases"
### Is your feature request related to a problem?
Coming from https://github.com/opensearch-project/opensearch-clients/issues/34. The version should be bumped each time a release is made so that builds happen for new changes with appropriate versioning.

### What solution would you like?
Implement workflow similar to https://github.com/opensearch-project/OpenSearch/blob/main/.github/workflows/vers

[2022-09-08 16:24] jspreddy commented on #171
I am still having to dig through the code base to figure things out. The [python API documentation here ](https://opensearch-project.github.io/opensearch-py/api-ref.html#api-reference) is not complete. It only contains docs for top level classes.

None of these classes are available in the reference.

[2022-09-08 17:57] harshavamsi commented on #171
@jspreddy the docs need improvement. Would you be willing to contribute a PR for the ones you see lacking?

[2022-09-14 03:05] Xtansia opened #197 "[FEATURE] Standardize, setup, report, and increase test coverage"
Setup code coverage, once reporting from CI/CD analyze the test gap and fill it.

See the meta issue https://github.com/opensearch-project/opensearch-clients/issues/30 for details.

[2022-09-15 16:07] wbeckler commented on #197
Related: https://github.com/opensearch-project/opensearch-py/issues/105

[2022-09-15 16:25] harshavamsi opened #200 "[FEATURE] Add license header check for new files"
### Is your feature request related to a problem?
Incoming new files must be checked for [OpenSearch licenses](https://github.com/opensearch-project/.github/blob/main/CONTRIBUTING.md#license-headers)

### What solution would you like?
A similar approach to https://github.com/opensearch-project/opensearch-net/blob/main/.github/check-license-headers.sh

[2022-09-19 17:59] jaydm26 commented on #171
@harshavamsi Happy to take this up, if no one has volunteered yet

[2022-09-19 21:27] harshavamsi commented on #171
Hi @jaydm26, absolutely go for it. Thanks!

[2022-09-20 10:44] rushiagr opened #202 "[BUG] Remove outdated maintainer(s)"
### What is the bug?
I'm out of Amazon, and for the sake of clarity, would like to be removed from maintainers list of the repo. We can check for other people too and update the list to reflect current maintainers.

### How can one reproduce the bug?
Check MAINTAINERS.md

### What is the expected behavior?
Should reflect current maintainers.

### What is your host/environment?
N/A

### Do you have

[2022-09-20 20:59] dblock commented on #202
@rushiagr You don't have to lose your maintainer privileges but you can if you want to, make a PR to get removed and we'll check permissions as well?

@wbeckler is synching up maintainers I believe across client repos

[2022-09-23 05:19] Neckbuster opened #203 "[PROPOSAL] Custom connection pooling option for `connection_class=RequestsHttpConnection`."
## What/Why

- Custom Connection pooling option for ` connection_class=RequestsHttpConnection`.
- This feature is required because clients who are using advanced auth plugins options like AWS_IAM are forced to used RequestHttpConnection and are stuck with default values i.e 10 pool max_size provided in request library.

### What are you proposing?
 A new connection_class that will be a child class

[2022-09-23 17:42] jaydm26 commented on #171
Hey @harshavamsi, I have raised a PR #204

[2022-09-27 16:56] harshavamsi commented on #203
@Neckbuster I think this is a good idea. I see that the default connection class has the `maxsize` attribute. Would be nice to replicate that in the `RequestHttpConnection` class. Out of curiosity could you  lay out your implementation idea here? To me it looks like you would not only need to update the pooling options in the session but also make use of `self.pool.urlopen` to allow for the actual

[2022-09-28 17:47] wbeckler commented on #174
Hi @amoghtewari, are you planning on PR'ing this? Is there anything others could do to help you put it together for a PR?

[2022-09-28 18:06] harshavamsi opened #207 "[FEATURE] Add documentation for plugin APIs in GETTING_STARTED and Sphinx docs"
### Is your feature request related to a problem?
With new alerting plugin APIs in this [PR](https://github.com/opensearch-project/opensearch-py/pull/93). We'd like to add documentation to the sphinx docs and add examples on how to use the APIs in the getting started guide.

### What solution would you like?
Similar to other examples and class based docs in the sphinx docs.

[2022-09-28 22:33] anasalkouz commented on #105
Anyone tracking this? is there a reason why we keep this issue untriaged for longtime?

[2022-09-29 17:45] sdhoyt opened #209 "[BUG] _resolve_request_args looking for "request_timeout" instead of "timeout""
In the documentation for bulk(), the key "timeout" is listed as an option to send to the params input, however, _resolve_request_args() seems to be looking for the param "request_timeout" instead of "timeout". The key "timeout" doesn't appear to change the timeout, but "request_timeout" does appear to work.

For example:

This appears to change the timeout
[code]

But this doesn't appear to change

[2022-09-29 18:01] dblock commented on #105
Yes, this should be a child of https://github.com/opensearch-project/opensearch-clients/issues/30, we still need code coverage. cc: @wbeckler

[2022-09-29 19:12] SamStephens commented on #77
@harshavamsi I think this issue remained open because of the discussion about https://docs.aws.amazon.com/opensearch-service/latest/developerguide/request-signing.html#request-signing-python using the legacy Elasticsearch OSS client, but looking at that page now it's been updated to use `opensearch-py`.

The entire rest of the content of this issue is to do with me missing the `RequestsHttpConnect

[2022-09-29 22:39] harshavamsi commented on #209
I agree this is a problem. I'm seeing the same issue on my end. I contributed #210. It should fix this.

[2022-09-30 11:02] #77 closed

[2022-09-30 17:12] harshavamsi commented on #176
@jiten1551 Are you saying that this is a bug or a feature that you might want. The default `RequestsHttpConnection` does _not_ support chunked encoding. It would have to be a new flag in the connection class to allow for that. But just to separate things, SigV4 works with compressed requests using `http_compress`, what you're asking for is compressing and chunking, which could be a new feature?

[2022-09-30 18:58] dblock commented on #176
I think it's a feature request: enable chunked transfer encoding (and ensure it works with Sigv4). A similar problem in the java client was that setting compression would also automatically turn on chunked transfer encoding, which would work, except for Sigv4.

[2022-10-03 22:02] harshavamsi opened #211 "[FEATURE] Enable chunked transfer encoding as a connection parameter"
### Is your feature request related to a problem?
We currently support http compression but not chunked encoding. This will help keep connection alive when transporting large amount of data when using the bulk API for example.

### What solution would you like?
A similar approach to other client libraries, we give users the option to set `chunked_encoding` true/false in the connection parameters.

[2022-10-04 14:17] dblock commented on #211
The parameter should be `transfer_encoding=chunked`, there are other transfer encoding options.

[2022-10-05 13:19] amoghtewari commented on #174
Hi @harshavamsi & @wbeckler , My apologies for the delay.
Here's the PR, please let me know what you think.
https://github.com/opensearch-project/opensearch-py/pull/212/

[2022-10-05 16:37] harshavamsi commented on #211
Makes sense, will update the approach.

[2022-10-06 12:44] psaiz opened #215 "[Kerberos support]"
### Is your feature request related to a problem?
It would be nice if the python API provided an easy way of connecting using kerberos
_A clear and concise description of what the problem is, e.g. I'm always frustrated when [...]._

### What solution would you like?
Please, check [this pull request](
https://github.com/opensearch-project/opensearch-py/pull/214). It creates a new connection type, a

[2022-10-17 18:25] harshavamsi commented on #202
Addressed in https://github.com/opensearch-project/opensearch-py/pull/219. Closing.

[2022-10-17 18:25] #202 closed

[2022-10-17 18:34] mend-for-github-com[bot] opened #220 "CVE-2022-42969 (Medium) detected in py-1.11.0-py2.py3-none-any.whl - autoclosed"
## CVE-2022-42969 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>py-1.11.0-py2.py3-none-any.whl</b></p></summary>

<p>library with cross-python path, ini-parsing, io, code, log facilities</p>
<p>Library home page: <a href="https://files.pythonhosted.org/packages

[2022-10-18 16:23] wbeckler commented on #174
Hi @amoghtewari, did you see the comments on your PR about the DCO?

[2022-10-18 18:42] #207 closed

[2022-10-19 15:50] amoghtewari commented on #174
Yes. I'm swamped at work in the foreseeable future, so I request you to re-assign this issue.

[2022-10-19 21:48] harshavamsi commented on #174
@amoghtewari @wbeckler I can create a PR on the fork to make the rest of the changes.

[2022-10-19 22:14] wbeckler commented on #94
Is anyone up for contributing a patch that addresses this issue when /dev/shm isn't available? There's a potential drop in replacement for the multiprocessing library: https://pypi.org/project/lambda-multiprocessing/

[2022-10-19 22:33] wbeckler commented on #113
@PhilipMay feel free to contribute PRs to improve the APIs. There is a high-level, albeit poorly documented, version of the python client, as mentioned above, but there's no reason to hold back from improving the interface of the main client.

In terms of the above-mentioned helper functions, as long as you abide by licensing and IP rules, you can reuse code.

[2022-10-19 22:36] wbeckler commented on #164
@ynang is this still happening?

[2022-10-20 16:39] wbeckler commented on #173
Hi @tyagian
Does this help?

@harshavamsi are there any places we can put these examples in the docs, if they aren't there already?

[2022-10-24 13:06] sharp-pixel commented on #131
Is anyone working on this? This is important to support IAM auth for OpenSearch Benchmark.

[2022-10-24 19:15] harshavamsi commented on #220
Based on comments from maintainers and developers in https://github.com/pytest-dev/py/issues/287, this was a misclassification and should not be a CVE. There is an issue filed with Github to take down the CVE classification from the GHSA -- https://github.com/pypa/pip-audit/issues/385. A CVE rejection request has been filed with MITRE, the CVE CNA on this case and is expected to de-classify this a

[2022-10-25 17:41] #209 closed

[2022-10-25 17:42] wbeckler commented on #154
@pejter Would you be up for submitting a PR for this?

[2022-10-26 12:43] gg-kialo opened #225 "[BUG] additional info missing from TransportError when using async"
### What is the bug?
`TransportError`s are missing the parsed json stored on the `info` property when using the library with async.

The cause is the content type is not being passed to `_raise_errors` from the async code.
See the difference between the [sync code](https://github.com/opensearch-project/opensearch-py/blob/8879644ec404b3ab15b739b97775d7bd7e51018b/opensearchpy/connection/http_request

[2022-10-26 13:23] wbeckler commented on #225
Nice catch. Feel free to offer a PR.

[2022-10-26 15:25] dblock commented on #131
@sharp-pixel AFAIK nobody is working on this, please feel free to pick it up

[2022-10-26 15:31] dblock opened #227 "[FEATURE] Rename GETTIING_STARTED to USER_GUIDE"
### Is your feature request related to a problem?

- GETTING_STARTED is a lot more than a getting started
- We want to ensure all new features are documented
- Other projects have USER_GUIDE.md, seems like it's becoming a convention ([example](https://github.com/opensearch-project/opensearch-rs/blob/main/USER_GUIDE.md))

### What solution would you like?

- Rename https://github.com/opensearch-pro

[2022-10-27 21:29] dblock commented on #121
My general recommendation is to remove supported versions when they are both EOL and it's actually removing some kind of overhead (e.g. we can't adopt a syntax that's only Python 3.x), and I tend to do it while bumping a major version per semver because of other changes. It looks like [EOL](https://endoflife.date/python) is true for Python <=3.6, so that's easy. Are there any actual advantages of

[2022-11-01 21:49] saimedhi commented on #227
I am working on this

[2022-11-02 06:10] wbeckler commented on #220
I propose we close the issue.

[2022-11-02 06:21] #220 closed

[2022-11-03 16:35] wbeckler commented on #172
@venugopalnaiduch would you be up for taking a stab at a PR for this?

[2022-11-03 16:37] wbeckler commented on #165
This is a good catch. Would you be up for submitting a fix?

[2022-11-04 22:06] #227 closed

[2022-11-07 18:09] harshavamsi commented on #154
@saimedhi can you take a look?

[2022-11-07 18:11] saimedhi commented on #154
yes

[2022-11-07 20:33] harshavamsi opened #234 "[FEATURE] Deploy docs to read the docs instead of github pages"
### Is your feature request related to a problem?
I think the docs have to be deployed on readthedocs.io instead of github pages. This gives us the ability to automatically version the docs.

### What solution would you like?
Deploy docs to readthedocs.io

### What alternatives have you considered?
_A clear and concise description of any alternative solutions or features you've considered._

### D

[2022-11-08 16:05] GuanLinZhang commented on #85
Link has been updated to https://github.com/opensearch-project/opensearch-py/blob/main/USER_GUIDE.md#using-iam-credentials-for-authentication

[2022-11-08 23:15] harshavamsi commented on #165
@saimedhi can you take a look at this?

[2022-11-08 23:16] harshavamsi commented on #164
@saimedhi can you take a look at this?

[2022-11-16 00:53] harshavamsi commented on #165
@arittner `open_point_in_time` is not supported on `opensearch-py` currently. We anticipate this will be released in `opensearch-py` version `2.1` and will only be supported with `OpenSearch 2.4`. Here's the documentation[1] on this API, it has now been refactored to `create_point_in_time`.

[1] https://github.com/opensearch-project/opensearch-py/blob/main/USER_GUIDE.md#point-in-time-api

[2022-11-16 00:53] #165 closed

[2022-11-17 23:09] saimedhi commented on #164
@ynang could you please check if you are still getting error. I replicated your request using OpenSearch version 1.3.2 and opensearch-py version 1.1.0 and didn't get any error.

[2022-11-21 23:45] #164 closed

[2022-11-22 15:06] perezzini opened #241 "[QUESTION] Query DSL validator"
Hello,

I was wondering if a OpenSearch Query DSL (https://opensearch.org/docs/latest/opensearch/query-dsl/index/) validator exists. My main goal is to validate query before executing `search()`; without using `try, except`.

Thanks in advance.

[2022-11-22 16:33] #111 closed

[2022-11-22 18:01] perezzini commented on #241
Update: for the moment, I request for validation at `/_validate/query` endpoint. See: https://www.elastic.co/guide/en/elasticsearch/reference/current/search-validate.html

[2022-11-22 22:58] perezzini commented on #241
Found that is actually implemented under `indices` module. Thanks!

[2022-11-22 22:58] #241 closed

[2022-11-23 00:01] harshavamsi commented on #131
@saimedhi can you take a look?

[2022-11-23 19:04] #154 closed

[2022-11-23 20:35] saimedhi commented on #132
@sepiariver please use "update" if you would like to make certain changes for an existing document without over writing the document. And use "index" if you would like to overwrite a document.

[2022-11-28 22:29] #174 closed

[2022-11-30 16:04] #132 closed

[2022-11-30 19:26] deepai-org opened #247 "[PROPOSAL] Changelog should mention what changed in version 2.0.1"
The changelog does not even mention version 2.0.1

[2022-11-30 19:41] wbeckler opened #248 "Release 2.0.1 has new features that would merit a minor version bump"
We added Alerting Plugins by [@arnavdas88](https://github.com/arnavdas88) in [#93](https://github.com/opensearch-project/opensearch-py/pull/93)
We also added timeout to available input query parameters by [@harshavamsi](https://github.com/harshavamsi) in [#210](https://github.com/opensearch-project/opensearch-py/pull/210) and fixed point in time rest api by [@Arpit-Bandejiya](https://github.com/Ar

[2022-11-30 19:54] wbeckler commented on #248
I think inclusive naming also merits a minor version bump.

[2022-11-30 19:57] wbeckler commented on #247
This is totally valid. I think this is because the automated changelog was added since the previous release. Here's the release notes: https://github.com/opensearch-project/opensearch-py/releases/tag/v2.0.1

There's also the need to do a minor version increment: https://github.com/opensearch-project/opensearch-py/issues/248